body {
  margin: 0;
  font-family: Georgia, serif;
  background: #f8f3eb;
  color: #4b3621;
}

.hero {
  height: 300px;
  background: linear-gradient(
      rgba(0,0,0,.35),
      rgba(0,0,0,.35)
    ),
    url("https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?q=80&w=1600");
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay{
  text-align:center;
}

.hero h1{
  color:white;
  font-size:3rem;
  margin-bottom:20px;
}

#search{
  width:min(600px,90vw);
  padding:15px;
  border:none;
  border-radius:12px;
  font-size:1rem;
}

.recipe-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
  padding:30px;
}

#recipe-count{
  padding:0 30px 15px;
  font-weight:bold;
  color:#6b4b2a;
}

.card{
  background:white;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
  transition:.25s;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card h3{
  padding:15px;
  margin:0;
}

.categories{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  padding:20px 30px;
}

.categories button{
  border:none;
  background:#8b5e3c;
  color:white;
  padding:10px 16px;
  border-radius:20px;
  cursor:pointer;
}

.categories button:hover{
  opacity:.9;
}

.categories button.active{
  background:#4b3621;
}

.small-hero{
  height:260px;
}

.recipe-detail{
  max-width:1100px;
  margin:50px auto 80px auto;
  padding:0 20px;
}

#instructions{
  background:white;
  padding:35px;
  border-radius:16px;
  box-shadow:0 4px 15px rgba(0,0,0,.08);
  font-size:18px;
}

#instructions li{
  margin-bottom:20px;
  line-height:1.8;
}

.detail-image{
  display:block;
  width:100%;
  max-height:500px;
  object-fit:cover;
  border-radius:16px;
  margin:30px auto 25px auto;
}

.badge{
  display:inline-block;
  background:#8b5e3c;
  color:white;
  padding:6px 12px;
  border-radius:20px;
  margin-right:8px;
  margin-bottom:15px;
}

.recipe-detail h2{
  margin-top:30px;
}

.container{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0 20px;
}

.recipe-top{
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap:30px;
  align-items:start;
  margin-bottom:50px;
}

.ingredients-box{
  background:white;
  padding:25px;
  border-radius:16px;
  border:1px solid #e7ddd0;
  box-shadow:0 2px 10px rgba(0,0,0,.08);
  position:sticky;
  top:20px;
}

.ingredients-box ul{
  padding-left:20px;
}

.ingredients-box li{
  margin-bottom:10px;
}

@media print{

  header,
  button,
  a{
    display:none;
  }

  body{
    background:white;
  }

}

@media (max-width: 900px){

  .recipe-top{
    grid-template-columns:1fr;
  }

}
